
.header-admin{
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.user-header-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 10px;
}
.user-header-image img{
    width: 100%;
}

.user-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icon-header{
    font-size: 24px;
    color: rgb(188, 195, 202);
}

.notification-list{
    position: absolute;
    top: 43px;
    left: 1080px;
    background: #fff;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    
}
.notification-list ul{
    list-style: none;
}

.notification-list ul li{
   padding: 5px 10px;
   font-weight: 500;
   color: black;
}

.notification-list ul li:hover{
    background-color: #ccc;
 }

 .title-notifi{
    margin-left: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
 }