.Report-admin-table{
    width: 1200px;
}

.product-report-input-filter{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 20px;
}

.product-report-input-filter input,select{
   padding: 8px;
}

.order-report-input-filter{
    display: flex;
    gap: 50px;
    align-items: center;
}