
.row {
    display: flex;
    margin-right: -7.5px;
    margin-left: -7.5px;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    width: 1230px;
    margin: 0 auto;
}
.header-logo{
    width: 180px;
    height: 60px;
    
}
.header-logo img{
    width: 100%;
    height: 100%;
    flex: 1
}

.header-search-box{
    flex: 2.5;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
}
.form-input-search{
    position: relative;
    height: 42px;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
.search-suggest{
    position: absolute;
    background-color: #fff;
    color: black;
    width: 100%;
    top: 100%;
    z-index: 1000;
    border-radius: 5px;

}

.product-item-search{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.product-item-search:last-child{
    border-radius: 5px;
}

.suggest-product-name{
    font-weight: 490;
}
.suggest-product-name:hover{
    font-weight: 490;
    color: #ff901c;
}
.suggest-product-price{
    font-weight: 500;
    color: #503eb6;
    font-size: 14px;
}
.product-item-search img{
    width: 40px;
    height: 40px;
}
.form-input-search input{
    margin-left: 10px;
    min-width: 650px;
    min-height: 40px;
    border: none;
    outline: none;
}

.div-icon-search{
    width: 36px;
    height: 36px;
    background-color: #503eb6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input-search .icon-search{
    font-size: 25px;
    color: #fff;
}


.header-contact{
    flex: 1;
    margin-left: 30px;
}


/* search sugguest */

