.payment-body{
    width: 1330px;
    margin: 0 auto;
    display: flex;
    height: 490px;

}

.payment-infor{
    flex: 1;
}

.payment-infor h2{
    font-size: 18px;
}

.form-infor-pay input{
    width: 387px;
    padding: 5.6px;
    margin: 10px 0;
}
.form-infor-pay select{
    width: 387px;
    padding: 5.6px;
    margin: 10px 0;
}

.payment-tranport{
    flex: 1;
}

.noti-payment{
    width: 387px;
    height: 45px;
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-method-center{
    width: 387px;
    margin-left: 10px;
    margin-top: 10px;
}

.icon-money-payment{
    font-size: 24px;
}
.payment-method-box{
    display: flex;
    justify-content: space-between;
}
.payment-method-box span{
    margin-left: 10px;
}

.payment-tranport h2{
    font-size: 18px;
}
.payment-order-infor{
    flex: 1;
}

.title-payment{
    font-size: 18px;
    margin-bottom: 10px;
}

.voucher-payment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.voucher-payment input{
    width: 266px;
    padding: 10px;
}

.btn-ap-dung{
    width: 100px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 14px;
    background-color: #503eb6;
}

.phi-van-chuyen{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    opacity: 70%;
}

.line-payment{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.tong-cong{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.div-dat-hang{
    display: flex;
    justify-content: space-between;
}

.btn-dat-hang{
    width: 120px;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 14px;
    background-color: #503eb6;
}

/* tét */  
  .list-product-payment {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    padding: 0;
  }
  
  .scrollable-list {
    max-height: 200px; /* Đặt chiều cao tối đa của danh sách */
    overflow-y: auto; /* Tạo thanh cuộn dọc */
    border: 1px solid #ccc; /* Đường viền cho phần cuộn */
  }
  
  .scrollable-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .scrollable-list li {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Đường viền cho mỗi mục */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .scrollable-list li img{
    width: 50px;
    height: 50px;
  }
  
  .scrollable-list li:last-child {
    border-bottom: none; /* Loại bỏ đường viền dưới của mục cuối cùng */
  }
  