.sidebar-admin{
    width: 260px;
}

.logo-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    height: 78px;
}

.menu-link-admin{
    margin-left: 5px;
}

.item-menu-admin{
    width: 226px;
    height: 46px;
    padding: 10px;
    display: flex;
    gap:10px;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.item-menu-admin:hover{
    background-color: #ebf0fd;
    border-radius: 8px;
}

.icon-home-admin{
    font-size: 24px;
    opacity: 80%;
}

.title-item-admin{
    font-size: 16px;
    font-weight: 500;
}

.sidebar-admin.collapsed {
    width: 69px;
  }

.active{
    background-color: #ebf0fd;

}
.par-report{
    position: relative;
}
.sub-cate-report{
    list-style: none;
    position: absolute;
    left: 50px;
    top: 40px;
}

.sub-cate-report li{
    padding: 10px 15px;
    font-weight: 400;
}

.sub-cate-report li:first-child{
    border-bottom: 1px solid #ccc;
    
}


